

body
{
	background-image:url("kk.jpg");
  background-size:cover; 
}



.SA
{
	text-align: center;
	padding: 14px 16px;
	height: 300px;
	margin-top: 200px;
	border-color: #080707;



}
.ip
{
	height: 40px;
	width: 10%
	border:3px solid black;

}
.button
{
	
background-color: #E3DDDB;
  border: black
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  text-shadow: 10px;
  
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 50;
  border-color: black;




}

}
a
{
	text-decoration:none;
	color: white;
}
table
{
	background-color: red;
}

.button:hover {opacity: 1}
</style>


<body>

<button class="button">Hover Over Me</button>


</body>

</html>

